{
  "presets": [["react-app", {"modules": false}]],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel",
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    "babel-plugin-styled-components"
  ]
}
