{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": ["react-hooks"],
  "rules": {
    "import/no-webpack-loader-syntax": 0,
    "import/first": 0,
    "prettier/prettier": true,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": 0
  }
}
