@import url(https://cloud.typography.com/6364294/6653152/css/fonts.css);
@value fontFamily: "Gotham Rounded SSm A", "Gotham Rounded SSm B", sans-serif;

.transitlog {
  height: 100%;
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 100vh;
}

.filter-panel {
  height: 100%;
  overflow: hidden;
}

.map-panel {
  position: relative;
}
