@import url(https://cloud.typography.com/6364294/6653152/css/fonts.css);

.transitlog-header {
  position: absolute;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #007AC9;
}

.transitlog-header input {
  border-radius: 4px;
  border: 1px solid lightGray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  font-size: 15px;
  padding: 5px 6px 4px 6px;
  width: 100%;
  max-width: 300px;
}



.leaflet-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.App-logo {
  height: 80px;
}

.App-title {
  font-family: fontFamily;
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}


@value fontFamily: "Gotham Rounded SSm A", "Gotham Rounded SSm B", sans-serif;
