
@import url(https://cloud.typography.com/6364294/6653152/css/fonts.css);

@value fontFamily: "Gotham Rounded SSm A", "Gotham Rounded SSm B", sans-serif;


.calendar {
    font-family: fontFamily;
    width: 70px;
    height: 20px;
    padding: 2px 2px;
    font-weight: 300;
    font-size: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
    align-items: center;
}