@import url(https://cloud.typography.com/6364294/6653152/css/fonts.css);

@value fontFamily: "Gotham Rounded SSm A", "Gotham Rounded SSm B", sans-serif;

.graphqlLoad {
  font-family: fontFamily;
  color: #aaa;
}

.filter-panel {
  max-width: 400px;
}

.date-input {
  display: flex;
}

.date-input > * {
  flex: 1 1 20%;
}

.date-input .calendar {
  width: 100px;
}
