.BUS {
  background-image: url("../icon-bus.svg");
  color: #007ac9;
}

.TRAM {
  background-image: url("../icon-tram.svg");
  color: #00985f;
}

.TRAIN {
  background-image: url("../icon-rail.svg");
  color: #8c4799;
}

.TRUNK {
  background-image: url("../icon-trunk.svg");
  color: #ff6319;
}

.hfp-icon {
  background-size: contain;
}
