.Loading {
  /* VERY quick and dirty. Fix when implementing an actual design. */
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.Loading .sk-circle {
  width: 2rem;
  height: 2rem;
  transform: translateY(0.25rem);
}

.LoadingContainer {
  margin-top: 0.25rem;
  padding: 1.25rem 0 1rem;
  position: relative;
}
