.Loading {
  /* VERY quick and dirty. Fix when implementing an actual design. */
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.Loading .sk-circle {
  width: 2rem;
  height: 2rem;
}

.LoadingContainer {
  padding: 0.6rem 0;
  position: relative;
}
