.LoadingContainer {
  margin-top: 0.25rem;
  padding: 1.25rem 0 1rem;
  position: relative;
}

.journey-list {
}

.journey-list-rows {
  max-height: 100%;
  overflow: auto;
}

.journey-list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.025);
  padding: 0.75rem 1.25rem;
  border: 0;
  max-width: none;
  font-size: 1rem;
  cursor: pointer;
}

.header {
  background: transparent;
  font-size: 0.9em;
  padding-top: 0;
}

.header > *:last-child {
  align-self: flex-end;
  text-align: right;
}

.journey-list-row:nth-child(odd) {
  background: rgba(255, 255, 255, 0.025);
}

.journey-list-row.selected {
  background: rgba(0, 0, 0, 0.3);
}

.journey-list-row .start-time {
  margin-right: 1rem;
  display: block;
}
