@import url(https://cloud.typography.com/6364294/6653152/css/fonts.css);

@value fontFamily: "Gotham Rounded SSm A", "Gotham Rounded SSm B", sans-serif;

.graphqlLoad {
  font-family: fontFamily;
  color: #aaa;
}

.filter-panel {
  width: 350px;
  position: absolute;
  margin: 20px;
  padding: 20px;
  left: 0;
  transition: transform 0.3s ease-out;
  transform: translateX(calc(-100% - 20px));
}

.date-input {
  display: flex;
}

.date-input > * {
  flex: 1 1 20%;
}

.date-input .calendar {
  width: 100px;
}

.toggle-filter-panel {
  position: absolute;
  top: 0;
  right: -1.5em;
  padding: 0.5rem 0.75rem;
  background: #007ac9;
  border: 0;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.filter-panel.visible {
  transform: translateX(0);
}

.journey-list {
  margin: 1.5rem 0 0;
}

.journey-list-row {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% + 2.5rem);
  margin-left: -1.25rem;
  background: rgba(0, 0, 0, 0.025);
  padding: 0.5rem 1.25rem;
  border: 0;
  max-width: none;
  font-size: 1rem;
  cursor: pointer;
}

.journey-list-row:nth-child(odd) {
  background: rgba(255, 255, 255, 0.025);
}

.journey-list-row.selected {
  background: rgba(0, 0, 0, 0.3);
}

.journey-list-row .start-time {
  margin-right: 1rem;
  display: block;
}
