.filter-panel {
  background: var(--lighter-grey);
  color: var(--dark-grey);
  transition: transform 0.3s ease-out;
  transform: translateX(calc(-100%));
  border-right: 1px solid var(--alt-grey);
  display: grid;
  grid-template-rows: 7.5rem 1fr 1fr;
}

.filter-panel-header {
  background: var(--blue);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  width: 10rem;
  flex: 0 0 10rem;
}

.header-title {
  color: white;
  width: calc(100% - 10rem);
  flex: 1 1 auto;
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.filters-section {
  margin-top: 1rem;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid var(--alt-grey);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.date-input {
  display: flex;
}

.date-input > * {
  flex: 1 1 20%;
}

.date-input .calendar {
  width: 100px;
}

.filter-panel.visible {
  transform: translateX(0);
}

.LoadingContainer {
  margin-top: 0.25rem;
  padding: 1.25rem 0 1rem;
  position: relative;
}

.journey-list {
}

.journey-list-rows {
  max-height: 100%;
  overflow: auto;
}

.journey-list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.025);
  padding: 0.75rem 1.25rem;
  border: 0;
  max-width: none;
  font-size: 1rem;
  cursor: pointer;
}

.header {
  background: transparent;
  font-size: 0.9em;
  padding-top: 0;
}

.header > *:last-child {
  align-self: flex-end;
  text-align: right;
}

.journey-list-row:nth-child(odd) {
  background: rgba(255, 255, 255, 0.025);
}

.journey-list-row.selected {
  background: rgba(0, 0, 0, 0.3);
}

.journey-list-row .start-time {
  margin-right: 1rem;
  display: block;
}
