@import url("https://cloud.typography.com/6364294/6653152/css/fonts.css");

:root {
  --dark-blue: rgb(0, 98, 161);
  --blue: #007ac9;
  --bus-blue: #0079c9;
  --green: #00985f;
  --purple: #8c4799;
  --orange: #ff6319;
  --teal: #00b2a9;
  --light-blue: #00b9e4;
  --lighter-blue: #bee4f8;
  --pink: #f092cd;
  --light-pink: #f4deea;
  --light-green: #64be1e;
  --lighter-green: #d0e6bd;
  --red: #dc0451;
  --yellow: #fed100;
  --dark-grey: #333333;
  --grey: #616365;
  --light-grey: #666666;
  --lighter-grey: #dddddc;
  --lightest-grey: #eef1f3;
  --alt-grey: #ccccdf;

  --font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  height: 100%;
  background: var(--dark-grey);
}

#root {
  height: 100vh;
}
