.hfp-marker-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  padding: 3px;
  border-radius: 50%;
  position: relative;
}

.hfp-marker-icon {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  position: relative;
  transform: none;
  z-index: 1;
  overflow: hidden;
}

.hfp-marker-icon:before {
  content: " ";
  width: 90%;
  height: 90%;
  margin: auto;
  display: block;
}

.hfp-marker-drst {
  position: absolute;
  z-index: 10;
  bottom: -2px;
  right: -2px;
  background: blue;
  border: 2px solid white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.hfp-marker-heading {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -14px;
  border-width: 18px 14px;
  border-color: transparent transparent var(--blue) transparent;
  border-style: solid;
  transform-origin: center;
  z-index: 0;
}

.timing-stop.early {
  background: var(--pink);
  border-radius: 50%;
}

.timing-stop.late {
  background: var(--yellow);
  border-radius: 50%;
}

.timing-stop.on-time {
  background: var(--lighter-green);
  border-radius: 50%;
}
